<div class="container">
  <div class="card-grid-interests">
    <div class="card-interests">
      <i class="fas fa-first-aid fa-2x"></i>
      <h6>Medical</h6>
    </div>
    <div class="card-interests">
      <i class="fas fa-handshake fa-2x"></i>
      <h6>HR / Human Resource</h6>
    </div>
    <div class="card-interests">
      <i class="fas fa-server fa-2x"></i>
      <h6>IT</h6>
    </div>
    <div class="card-interests">
      <i class="fas fa-running fa-2x"></i>
      <h6>Sports</h6>
    </div>
  </div>
</div>
