<div class="container">
  <div class="card-favorites">
    <div class="card-favorites-infos">
      <h2>Company name</h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
    <div class="card-favorites">
    <div class="card-favorites-infos">
      <h2>Company name</h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
    <div class="card-favorites">
    <div class="card-favorites-infos">
      <h2>Company name</h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
