<div class="container box">
  <h4>Your favorite companies</h4>
  <div class="card-favorites">
    <div class="card-favorites-infos">
      <h2>Flaregames</h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
    <div class="card-favorites">
    <div class="card-favorites-infos">
      <h2>Sonnen</h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
    <div class="card-favorites">
    <div class="card-favorites-infos">
      <h2>Teleclinic</h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
