<div class="container">
  <div class="card-grid-interests">
    <div class="card-interests">
      <i class="fas fa-first-aid"></i>
      <h6>Medical</h6>
    </div>
    <div class="card-interests">
      <i class="fas fa-handshake"></i>
      <h6>HR / Human Resource</h6>
    </div>
    <div class="card-interests">
      <i class="fas fa-server"></i>
      <h6>IT</h6>
    </div>
    <div class="card-interests">
      <i class="fas fa-running"></i>
      <h6>Sports</h6>
    </div>
  </div>
</div>



<!-- Sectors from the seed file / Fontawesome Icons for visualization
https://fontawesome.com/cheatsheet

HR / handshake f2b5, people-arrows f968, user-friends f500
medical / briefcase-medical f469, first-aid f479
IT / laptop-code f5fc, server f233
sports / medal f5a2, running f70c
gaming / gamepad f11b
environment / crow f520, fish f578
 -->
