<div class="container">
  <div class="card-grid-applications">
    <div class="card-product-infos">
      <h2>Company name</h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
    <div class="card-grid-applications">
    <div class="card-product-infos">
      <h2>Company name</h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
    <div class="card-grid-applications">
    <div class="card-product-infos">
      <h2>Company name</h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
    <div class="card-grid-applications">
    <div class="card-product-infos">
      <h2>Company name</h2>
      <p>description with <strong>relevant info</strong></p>
    </div>
  </div>
</div>
