<div class="container applications">
  <h2>Your sent applications</h2>
    <p style="color: #52A87C" >______________________________________</p>
  <div class="card-grid-applications">
    <div class="card-applications">
      <i class="fas fa-file"></i>
      <h6>Flaregames</h6>
    </div>
    <div class="card-applications">
      <i class="fas fa-file"></i>
      <h6>Teleclinic</h6>
    </div>
    <div class="card-applications">
      <i class="fas fa-file"></i>
      <h6>Sonnen</h6>
    </div>
    <div class="card-applications">
      <i class="fas fa-file"></i>
      <h6>GymBeam</h6>
    </div>
  </div>
</div>
