<div class="dashboard-banner">
  <div class="container">
    <h1>Let's find your track!</h1>
    <p>Manage your interests, favorite companies and applications in your personal dashboard</p>
  </div>
</div>
