<div class="dashboard-banner" style= "background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1524008298606-aad1dae6d4c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80)">
  <div class="container" style="margin-right: 192px; margin-top: -8px;">
    <h1>Let's find your track, <%= current_user.first_name.capitalize %>!</h1>
  <p>Manage your interests, favorite companies and applications in your personal dashboard</p>
  </div>
</div>
