<div class="container interests">
  <h2>You are interested in</h2>
  <p style="color: #52A87C" >______________________________________</p>

<!--   When the fa icon column is accessible uncomment this div
  <div class="card-grid-interests">
    <% @interests.each do |interest| %>
    <div class="card-interests">
      <div class= "card-logo-interests">
        <i class="<%= startup.sector_icon_font %> fa-3x"></i>
      </div>
      <h6>
        <%= interest.name %>
        <% end %>
      </h6>
    </div>
  </div> -->

<!-- Static card for design process, when the connection to the seed file is working,
this divs "card-grid-interests" can be deleted -->
  <div class="card-grid-interests">
    <div class="card-interests">
      <div class= "card-logo-interests">
        <i class="fas fa-piggy-bank fa-3x"></i>
        <div>
          <h3>Financial</h3>
        </div>
      </div>
    </div>

    <div class="card-interests">
      <div class= "card-logo-interests">
        <i class="fas fa-cookie-bite fa-3x"></i>
        <div>
          <h3>Food</h3>
        </div>
      </div>
    </div>

    <div class="card-interests">
      <div class= "card-logo-interests">
        <i class="fas fa-dice fa-3x"></i>
        <div>
          <h3>Games</h3>
        </div>
      </div>
    </div>

    <div class="card-interests">
      <div class= "card-logo-interests">
        <i class="fas fa-first-aid fa-3x"></i>
        <div>
          <h3>Healthcare</h3>
        </div>
      </div>
    </div>

    <div class="card-interests">
      <div class= "card-logo-interests">
        <i class="fas fa-first-aid fa-3x"></i>
        <div>
          <h3>Healthcare</h3>
        </div>
      </div>
    </div>

  </div>
<!-- End of static content for design process -->

</div>
