<div class="container interests">
  <h2>You are interested in</h2>
  <p style="color: #52A87C; text-align:center; margin-top:-15px;" >______________________________________</p>
<!-- MAYBE TODO -->
<!-- If there are no elements in @sectors saved for the current user, display "You have not chosen any interests yet. -->
  <div class="d-flex" style="justify-content: center">
    <% current_user.sectors.each do |sector| %>
    <div class="card-interests">
      <div class= "card-logo-interests">
        <i class="<%= sector.sector_icon_font %>"></i>
        <div>
          <h3><%= sector.name %></h3>
        </div>
      </div>
    </div>
    <% end %>
  </div>
    <%= link_to "Edit Interests", sectors_path, class:"btn btn-ghost" %>


</div>

