<div class="container favorites">
  <h2>Your favorite companies</h2>
  <div>
    <div class="card-favorites">
      <% @favorites.each do |favorite| %>
        <div class="card-favorites-infos mt-4">
          <h3> <%= link_to favorite.name.capitalize, startup_path(favorite) %></h3>
           <p><% favorite.sectors.each do |sector| %> </p>
              <p>Sector: <%= sector.name.capitalize %> </p>
            <% end %>
          <p><i class="fas fa-map-pin"></i> Address: <%= favorite.address %> </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
