<div class="container favorites">
  <h2 style="text-align:center">Your favorite companies</h2>
  <p style="color: #52A87C; text-align:center; margin-top:-15px;" >______________________________________</p>
  <div>
<!-- MAYBE TODO -->
<!-- If there are no elements in @favorites, display "You don't have any favorite startups yet." -->
    <div class="card-favorites">
      <% @favorites.each do |favorite| %>
        <div class="card-favorites-infos mt-4">
          <h3> <%= link_to favorite.name.capitalize, startup_path(favorite) %></h3>
           <p><% favorite.sectors.each do |sector| %> </p>
              <p><%= sector.name.capitalize %> </p>
            <% end %>
          <!-- <p><i class="fas fa-map-pin"></i> Address: <%= favorite.address %> </p> -->
        </div>
      <% end %>
    </div>
  </div>
    <div style="text-align:center"><%= link_to "Find more favorites", startups_path, class:"btn btn-outline-primary" %></div>
</div>
