<div class="container d-flex" style="background-color: white">
  <div class="col-6">
    <div class="app card-grid-applications">
      <h3><i class="fas fa-save"></i> started applications</h3>
      <% @started_applications.each do |startup| %>
      <div class="card-applications">
        <h3><i class="fas fa-file fa-3x"></i> <%= startup.name %></h3>
      </div>
      <% end %>
    </div>
  </div>


  <div class="col-6" style="background-color: white">
    <div class="app card-grid-applications">
      <h3><i class="fas fa-envelope"></i> sent applications</h3>
      <% @sent_applications.each do |application| %>
      <div class="card-applications">
        <h3><i class="fas fa-file fa-3x"></i> <%= application.startup.name %></h3>
      </div>
      <% end %>
    </div>
  </div>
</div>
