<<<<<<< HEAD
<div class="grid-container">
  <div class="user_sectors" style="background-color: green;">
  <!--  Here will be pictures/Icons of the interests (user_sectors from the seed file) -->
  </div>
  <div class="favorites" style="background-color: white;">
  <!--  Here will be a list of cards of the favorite companies of the user/scroll direction vertically
  - add cards (height 60 px) with useful info about the companies -->
  </div>
  <div class="applications" style="background-color: red;">
  <!--  Here will be the applications (cards) that the user already sent
  - add cards (100px x 100px) with company name, logo, date when the application was sent -->
  </div>
</div>
=======
<h1>Profiles#dashboard</h1>
<p>Find me in app/views/profiles/dashboard.html.erb</p>
<%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill %>
>>>>>>> master
