<%= render 'dashboard-banner' %>

<div class="container">

<%= render 'dashboard-interests' %>

<%= render 'dashboard-favorites' %>

<%= render 'dashboard-applications' %>

</div>

<!--
index.scss
@import "dashboard-banner"
 -->
