.box-application {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 45px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  margin-top: 30px;
  &h4 {
    font-weight: bold;
  }
}

.bodybody {
  background-color: #F4F4F4;
}

.buttons-application {
  position: sticky;
  bottom: 50px;
  border-top: solid 1px rgba(50,50,50,0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255,255,255,0.85);
}

.buttons-application-show {
  margin-bottom: 20px;
  align-items: center;
}

.btn-opacity {
  opacity: 0 !important;
}
