.grid-container {
  display: flex;
  flex-direction: column;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr 2.5fr 1fr;
  // gap: 5px 5px;
  // grid-template-areas: "user_sectors" "favorites" "applications";
  height: calc(100vh - 66px);
}

.user_sectors {
  height: 120px;
  // grid-area: user_sectors;
}

.applications {
    height: 120px;
  // grid-area: applications;
}

.favorites {
  flex-grow: 1;
  // grid-area: favorites;
}
