// Specific CSS for your home-page
.page-content {
  min-height: calc(100vh - 66px);
}

.box {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 30px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 3px;
}
// HOW IT WORKS CARDS
.card-grid-how-it-works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card-how-it-works {
  width: 200;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h6 {
    color: #52A87C;
    text-align: center;
    font-weight: bold;
  }
}
.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
