.container {
  margin-bottom: 30px;
}

// Specific CSS for your home-page
.page-content {
  background-color: #F4F4F4;
  min-height: calc(100vh - 66px);
  height: 100vh;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.box {
  background-color: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 30px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  text-align: center;
  &h4 {
    font-weight: bold;
  }
}

// HOW IT WORKS CARDS

.box-how-it-works {
  background-color: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 30px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  text-align: center;
  &h4 {
    font-weight: bold;
  }
}
.card-grid-how-it-works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.card-how-it-works {
  width: 250;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h6 {
    color: #52A87C;
    text-align: center;
    font-weight: bold;
  }
  a {
    color: #52A87C;
    text-align: center;
    font-weight: bold;
  }
}

.card-how-it-works:hover {
  a {
    color: #50A87C;
    text-align: center;
    font-weight: bold;
    opacity: 1;
  }
}

.card-image {
  height: 125px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

// LOGO CARDS
.card-grid-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 30px;
  margin-bottom: 25px;
  // border-radius: 25px;
  background-color: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 20px;
}

.card-logo {
  width: 40;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: white;
}
.card-image-logo {
  height: 80px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.home {
  padding-bottom: 80px;
}
