.card-startup {
  overflow: hidden;
  height: 120px;
  width: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  // padding: 5px;
}
.card-startup:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
  // background-color: #52A87C;
  background-color: #72EFB1;
  // background-color: #CADBC8;
}
.card-startup img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  padding: 10px;
  border-radius: 30%;
}
.card-startup h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
}
.card-startup p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}
.card-startup .card-startup-infos {
  padding: 16px;
}

.card-startup-infos {
  padding: 8px;
}

.box-card-index {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 30px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.startup-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
