<div class="container">
  <%= @application.content %>

  <%= simple_form_for @application, url: application_path(@application) do |f| %>
    <%= f.input :document, as: :file %>
    <%= f.button :submit, "Attach document", class: "btn btn-ghost" %>
  <% end %>
</div>
