<div class="container">
  <h2>Here are all the start-ups matching your interests:</h2>

  <div class="container box">
    <h6>Interests</h6>
  </div>

  <div class="container box">
    <h6>Search form</h6>
  </div>

  <div class="container box">
    <div>
      <% @startups.each do |startup| %>
        <%= link_to startup_path(startup) do %>
          <%= render "shared/card-grid-startup", startup: startup %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
<!-- shorten description to 50 to 70 characters -->

