<div class="container">
<h1>Select your interests</h1>

<%= simple_form_for @user, url: profile_path(id: @user.id), method: "patch" do |f| %>
  <%= f.association :sectors, as: :check_boxes %>
  <%= f.submit "Save my interests" %>
<% end %>
</div>
