  <div class="footer fixed-bottom" id="footer">
      <div class="footer-links" style="margin-left:20px; color:black">
        Follow us on
        <a href="#"><i class="fab fa-instagram" style="color:black"></i></a>
        <a href="#"><i class="fab fa-facebook" style="color:black"></i></a>
        <a href="#"><i class="fab fa-twitter" style="color:black"></i></a>
        <a href="#"><i class="fab fa-linkedin" style="color:black"></i></a>
      </div>
    <div>
      &copy;iStartUP 2020
    </div>
    <div class="footer-copyright" style="margin-right:20px">
      Made with &hearts; in EU
    </div>
  </div>
