<div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1524008298606-aad1dae6d4c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80)" >
<!-- <div class="banner" style= "background-image: url(https://images.unsplash.com/photo-1495465798138-718f86d1a4bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)" > -->
  <div class="container">
    <h1>Find internships with Startups</h1>
    <p>Learn about startups & entrepreneurship by gaining</p>
    <p>your 1st professional experience with one of them </p>
    <a class="btn btn-ghost btn-lg btn-banner" style="opactiy:0" href="startups">Find your startup</a>
  </div>
</div>
