<div class="container">
  <div class="card-grid-how-it-works">
    <div class="card-how-it-works">
      <%= image_tag "https://image.shutterstock.com/image-vector/funny-cute-indonesian-senior-high-600w-1009494559.jpg", width: 200, class: "card-image" %>
      <h4>Sign up</h4>
    </div>
    <div class="card-how-it-works">
      <%= image_tag "https://image.shutterstock.com/image-vector/funny-cute-indonesian-senior-high-600w-1009494559.jpg", width: 200, class: "card-image" %>
      <h4>Choose your interests</h4>
    </div>
    <div class="card-how-it-works">
      <%= image_tag "https://image.shutterstock.com/image-vector/funny-cute-indonesian-senior-high-600w-1009494559.jpg", width: 200, class: "card-image" %>
      <h4>Find matching start-ups</h4>
    </div>
    <div class="card-how-it-works">
      <%= image_tag "https://image.shutterstock.com/image-vector/funny-cute-indonesian-senior-high-600w-1009494559.jpg", width: 200, class: "card-image" %>
      <h4>Apply!</h4>
    </div>
  </div>
</div>
