<div class="container">
  <div class="card-grid-how-it-works">
    <div class="card-how-it-works">
      <%= image_tag "https://image.shutterstock.com/image-vector/funny-cute-indonesian-senior-high-600w-1009494559.jpg", width: 200, class: "card-image" %>
      <h6>Sign up</h6>
    </div>
    <div class="card-how-it-works">
      <%= image_tag "https://image.shutterstock.com/image-vector/funny-cute-indonesian-senior-high-600w-1009494559.jpg", width: 200, class: "card-image" %>
      <h6>Choose your interests</h6>
    </div>
    <div class="card-how-it-works">
      <%= image_tag "https://image.shutterstock.com/image-vector/funny-cute-indonesian-senior-high-600w-1009494559.jpg", width: 200, class: "card-image" %>
      <h6>Find matching start-ups</h6>
    </div>
    <div class="card-how-it-works">
      <%= image_tag "https://image.shutterstock.com/image-vector/funny-cute-indonesian-senior-high-600w-1009494559.jpg", width: 200, class: "card-image" %>
      <h6>Apply!</h6>
    </div>
  </div>
</div>
