<div class="container">
  <div class="card-grid-how-it-works">
    <div class="card-how-it-works">
      <%= image_tag "https://png2.kisspng.com/sh/4d4a9caa1cae4a01627a20816155b1c4/L0KzQYm3VMIxN5N5iZH0aYP2gLBuTgN1fZVqhuY2bnH3ebF1gfwue5Zoh9DtYYL8PcTqiP9wdF5tgdlxLYPmeLF2jL1lcaFxRdVqcoTyf7A0gB9tdJZsfZ98dIXndbB7k702aZUAe6cDMkO6SYPsUb41P2I9S6sCNkG4QoW5UsE0OWU3SqkBLoDxd1==/kisspng-student-national-secondary-school-high-school-dipl-cartoon-college-students-5ad9c5823792e1.4718397615242213142276.png", width: 200, class: "card-image" %>
      <h4>Sign up</h4>
    </div>
    <div class="card-how-it-works">
      <%= image_tag "https://png2.kisspng.com/sh/4d4a9caa1cae4a01627a20816155b1c4/L0KzQYm3VMIxN5N5iZH0aYP2gLBuTgN1fZVqhuY2bnH3ebF1gfwue5Zoh9DtYYL8PcTqiP9wdF5tgdlxLYPmeLF2jL1lcaFxRdVqcoTyf7A0gB9tdJZsfZ98dIXndbB7k702aZUAe6cDMkO6SYPsUb41P2I9S6sCNkG4QoW5UsE0OWU3SqkBLoDxd1==/kisspng-student-national-secondary-school-high-school-dipl-cartoon-college-students-5ad9c5823792e1.4718397615242213142276.png", width: 200, class: "card-image" %>
      <h4>Choose your interests</h4>
    </div>
    <div class="card-how-it-works">
      <%= image_tag "https://png2.kisspng.com/sh/4d4a9caa1cae4a01627a20816155b1c4/L0KzQYm3VMIxN5N5iZH0aYP2gLBuTgN1fZVqhuY2bnH3ebF1gfwue5Zoh9DtYYL8PcTqiP9wdF5tgdlxLYPmeLF2jL1lcaFxRdVqcoTyf7A0gB9tdJZsfZ98dIXndbB7k702aZUAe6cDMkO6SYPsUb41P2I9S6sCNkG4QoW5UsE0OWU3SqkBLoDxd1==/kisspng-student-national-secondary-school-high-school-dipl-cartoon-college-students-5ad9c5823792e1.4718397615242213142276.png", width: 200, class: "card-image" %>
      <h4>Find matching start-ups</h4>
    </div>
    <div class="card-how-it-works">
      <%= image_tag "https://png2.kisspng.com/sh/4d4a9caa1cae4a01627a20816155b1c4/L0KzQYm3VMIxN5N5iZH0aYP2gLBuTgN1fZVqhuY2bnH3ebF1gfwue5Zoh9DtYYL8PcTqiP9wdF5tgdlxLYPmeLF2jL1lcaFxRdVqcoTyf7A0gB9tdJZsfZ98dIXndbB7k702aZUAe6cDMkO6SYPsUb41P2I9S6sCNkG4QoW5UsE0OWU3SqkBLoDxd1==/kisspng-student-national-secondary-school-high-school-dipl-cartoon-college-students-5ad9c5823792e1.4718397615242213142276.png", width: 200, class: "card-image" %>
      <h4>Apply!</h4>
    </div>
  </div>
</div>
