<%= render 'banner' %>

<div class="container box">
  <h4>How it works</h4>
  <%= render 'card-grid-how-it-works' %>
  <a class="btn btn-ghost btn-sm" href="startups">Find your Start-up</a>
</div>

<div class="container box">
  <h4>Always wanted to know what startups are all about?</h4>
  <p>With an internship with a startup, you will experience the exciting, challenging and rewarding life as a startup team member, while gaining recognition from your school. This is your opportunity to learn what startups are all about, how they grow and make it into becoming large companies. Remember, Snapchat was a little startup back in the day… </p>
  <%= image_tag "https://image.flaticon.com/icons/svg/2910/2910470.svg", class: "card-image-logo" %>
  <a class="btn btn-ghost btn-sm" href="#">Read student stories</a>
</div>

<div class="container box">
  <h4>Our iStartUp Partners</h4>
  <%= render 'card-grid-logos' %>
</div>


