<h1>Find internships in the startup community</h1>
<p>Learn about startups & entrepreneurship by gaining your 1st professional experience with one of them </p>

<div class="container">
  <h4>Always wanted to know… </h4>
  <h4>what startups are all about?</h4>
  <p>With an internship with a startup, you will experience the exciting, challenging and rewarding life as a startup team member, while gaining recognition from your school. You will meet entrepreneurs who have started with just an idea and built their startup from scratch. This is your opportunity to learn what startups are all about, how they grow and make it into becoming large companies. Remember, Snapchat was a little startup back in the day… </p>
  <h6>Read student stories</h6>
</div>

<div class="container">
  <h4>Gain valuable knowledge for your future</h4>
  <p>iStartUP brings the local startups directly to you. This is your chance to get closer to your internship based on your interests - cars, climate change, videogames and much more - and find out about the startups in those specific sectors. Now, you can select your favorite ones and contact them in just 3 clicks. Your potential internship 3 clicks away. </p>
  <h6>Find you Startup</h6>
</div>

<div class="container">
  <h4>Our iStartUp Partners</h4>
</div>
