<%= render 'banner' %>

<div class="container">
  <h4>Gain valuable knowledge for your future</h4>
  <h4>How it works:</h4>
  <%= render 'card-grid-how-it-works' %>
  <p>iStartUP brings the local startups directly to you. This is your chance to get closer to your internship based on your interests - cars, climate change, videogames and much more - and find out about the startups in those specific sectors. Now, you can select your favorite ones and contact them in just 3 clicks. Your potential internship 3 clicks away. </p>
  <a class="btn btn-ghost btn-sm" href="startups">Find your Start-up</a>
</div>

<div class="container">
  <h4>Always wanted to know what startups are all about?</h4>
  <p>With an internship with a startup, you will experience the exciting, challenging and rewarding life as a startup team member, while gaining recognition from your school. You will meet entrepreneurs who have started with just an idea and built their startup from scratch. This is your opportunity to learn what startups are all about, how they grow and make it into becoming large companies. Remember, Snapchat was a little startup back in the day… </p>
  <a class="btn btn-ghost btn-sm" href="#">Read student stories</a>
</div>

<div class="container">
  <h4>Our iStartUp Partners</h4>
</div>


