.btn-ghost {
  color: #FFFFFF;
  background-color: #52A87C;
  border: 1px solid #52A87C;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  // margin-top: 15px;
  margin-top: 15px;
  margin-right: 12px;
}

.btn-ghost:hover {
  opacity: 1;
  color: #FFFFFF;

}

.btn-ghost.btn-sm {
  color: #FFFFFF;
  background-color: #52A87C;
  border: 1px solid #52A87C;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost.btn-sm:hover {
  opacity: 1;
}

.btn-outline-primary {
  border: 1px solid #51A87C;
  color: #51A87C;
  border-radius: 30px;
  margin-top: 15px;
  padding: 8px 24px;
}

.btn-outline-primary:hover {
  opacity: 1;
  background-color: #51A87C;
  border: 1px solid #51A87C;
}

.swal-button--confirm {
  background-color: #52A87C;
}
