.dashboard-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to top right, #51a87c 0%, #ffffff 100%);
  padding: 100px 0;
  margin-bottom: 30px;
  margin-top: -20px;
  // background: url(running_girl.jpg) 100% no-repeat;
}
