.dashboard-banner {
  background-position: center;
  background-repeat: no-repeat;
  // background-color: white;
  background-size: cover;
  padding: 100px 0;
  margin-bottom: 30px;
  margin-top: -20px;
  height: 100px;
}

.dashboard-banner p {
    color: white;
  }

.dashboard-banner h1 {
    color: white;
  }
