.footer {
  clear: both;
  // background: #72EFB1;
  background: #79C99E;
  // background: #E6E4E0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0px 50px;
  width: 100%;
  margin-top: 50px;
  bottom: 0;
  position: relative;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #52A87C;
}

.fab {
  // color: #52A87C;
}

// #page-container {
//   position: relative;
//   min-height: 100vh;
// }

// #content-wrap {
//   padding-bottom: 2.5rem;    /* Footer height */
// }

// .footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 2.5rem;            /* Footer height */
// }
