.form-sector {
  background: white;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 50px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 50%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.category-choices {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}

#button-center {
  text-align: center;
  margin: auto;
}

.category-choice {
  background: #e5e5e5;
  padding: 20px;
  border-radius: 40px;
  opacity: 1;
  text-align: center;
  height: 180px;
  width: 180px;
  margin: 30px;
  margin-bottom: 30px;
  &:hover {
    opacity: .4;
    cursor: pointer;
    background-color: #52A87C;
  }
  &.active {
  background-color: $green;
  color: white;
  opacity: 1;
  background-color: #51A87C;
  }
}

// change the background colour in ACTIVE
