.form-sector {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 13px;
  margin-bottom: 50px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 50%;
    padding: 10px;
    font-weight: bold;
  }
}

// Checkboxes design
.category-choices {
  display: block;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}

#button-center {
  text-align: center;
  margin: auto;
}

.category-choice {
  background-color: white;
  border: 2px solid #fbf8f8;
  padding: 30px;
  border-radius: 6px;
  opacity: 1;
  text-align: center;
  height: 180px;
  width: 180px;
  margin: 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  &:hover {
    opacity: .4;
    cursor: pointer;
    background-color: #52A87C;
  }
  &:hover i {
  color: white;
  }
  &.active {
  background-color: $green;
  color: white;
  opacity: 1;
  background-color: #51A87C;
  }
  &.active i {
    color: white;
  }
}

.icon-sectors-card {
  &.active {
    background-color: white;
    color: white;
  }
  &:hover {
    background-color: white;
    color: white;
  }
}


// change the background colour in ACTIVE
