.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-heart {
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-user {
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
