.navbar-lewagon {
  justify-content: space-between;
  background: white;
  vertical-align: middle;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  vertical-align: middle;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  vertical-align: middle;
}

.nav-heart {
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.nav-user {
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  vertical-align: middle;
}

.nav-link {
  vertical-align: middle;
}
