.card-startup-details {
  border-radius: 30px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 30px;
  margin: auto;
  margin: 20px;
}

.d-flex {
  // border-radius: 30px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.d-flex .showw {
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  background-color: white;
  height: 100vh;
}

.favorite-icon {
  margin-left: 300px;
  margin-top: 7px;
}

p {
  font-size: medium;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.fas {
  font-size: 25px;
  margin-bottom: 15px;
  color: #52A87C;
}

.fas:hover {
  font-size: 25px;
  margin-bottom: 15px;
  color: #80b79b;
}

.far {
  font-size: 25px;
  margin-bottom: 15px;
  color: #52A87C;
}

.far:hover {
  font-size: 25px;
  margin-bottom: 15px;
  color: #80b79b;
}
.sector-icon {
  margin-left: 50px;
}

#map {
  margin-bottom: 50px;
}
