.card-startup-details {
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 30px;
  margin: auto;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.fas {
    font-size: 25px;
    margin-bottom: 15px;
    color: #52A87C;
}

.fas:hover {
    font-size: 25px;
    margin-bottom: 15px;
    color: #80b79b;
}
